.sub_header {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--mp-color-background);
}

.sub_header_title {
  padding: 20px;
  width: 530px;
  height: 79px;
  font-family: 'Montserrat';
  font-weight: 500;
}

.sub_header_icons {
  
}