body {
  margin: 0;
  background-color: var(--mp-color-background);
}
a {
  text-decoration: none;
}
:root {
  width: 100%;
  --mp-color-header: #FFCBAE;
  --mp-color-border: #FFAC7D;
  --mp-color-background: #FFECE1;
  --mp-color-violet: #BC6CC9;
  --mp-color-yellow: #F9DC5B;
  --mp-color-orange: #FBB240;
  --mp-color-dark-orange: #FF9148;
  --mp-color-blue: #7FA1EB;
  --mp-color-dark-blue: #437eec;
}
