.header {
  max-height: 698px;
}

.header_content {
  width: 100%;
  background-color: var(--mp-color-header);
  display: flex;
  justify-content: space-between;
}

.header__text_block {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
}

.header_image {
  height: 610px;
  width: 50%;
}

.header_border {
  position: absolute;
  max-height: 263px;
  width: 100%;
  z-index: 2;
  top: 53%;
}

.header__name {
  position: absolute;
  top: 5%;
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 500;
}

.header__title {
  font-size: 48px;
  width: 390px;
  font-family: "Montserrat";
  font-weight: 600;
}

.header__text {
  position: absolute;
  right: 0%;
  top: 10%;
  display: flex;
  flex-direction: column;
  // width: 300px;
  height: 500px;
  p {
    margin: 10px;
    font-family: "Montserrat";
    font-weight: 500;
  }
  .header__text_ui {
    cursor: pointer;
    border-bottom: 2px solid black;
  }
  .header__text_illustration {
    cursor: pointer;
    border-bottom: 2px solid black;
  }
  .header__text_about {
    cursor: pointer;
  }
  a {
    color: black !important;
  }
}
a:hover {
  color: white  !important;
}